.signin{
    color: white;
}

.signin form input{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
}

.button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid green;
}